.ui.secondary.pointing.menu {
    font-size: large;
    
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
p{
    padding: 5px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.ui.secondary.pointing.menu.right.menu p:hover{
    font-weight: bold;
}

